hr {
  border: solid 1px black;
  width: 30%;
  color: #ffff00;
  height: 1px;
}
header {
  width: 25%;
  display: inline;
}
main {
  float: left;
  display: inline;
}

#next-week {
  display: flex;
}

#next-week div {
  background-color: rgb(31, 31, 109);
  margin: 20px;
  padding: 20px;
  color: white;
  min-width: 15%;
}

.list {
  color: blue;
  list-style: none;
  padding: 5px 50px 5px 50px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.low {
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(51, 161, 51);
}
.medium {
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(230, 117, 25);
}
.high {
  padding: 15px;
  border-radius: 5px;
  background-color: red;
}
